:root {
  /* шапка сайта */
  --header-height: 60px;
  --header-bg: #daad86;
  --header-color: #ffffff;

  /* контейнер (ограничивает ширину сайта) */
  --container-width: 900px;

  /* Навигация (ссылки в шапке сайта) */
  --nav-gap: 12px;
  --nav-link-color: blue;

  /* Навигация меню */
  --nav-menu-gap: 30px;
  --nav-menu-font-size: 30px;

  /* карта */
  --map-height: 50%;

  /* Скругление */
  --border-radius: 8px;
  --table-border: 1px solid black;
  --table-bg: #f7f7f7;
  --table-padding: 12px;

  /* Цвета разделов */
  --section-first: #f4f4f4;
  --section-second: #ffffff;

  /* подвал сайта */
  --footer-height: 200px;
  --footer-bg: #001e5e;
  --footer-color: white;

  --title-align: start;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Sora", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1,
h2 {
  text-align: var(--title-align);
}

.container {
  width: 100%;
  max-width: var(--container-width);
  padding: 0 12px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  background-color: var(--header-bg);
  color: var(--header-color);
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: var(--nav-gap);
}

.nav__link {
  color: var(--nav-link-color);
  color: var(--header-color);
}

.main {
  margin: 40px 0;
}

.img-content {
  max-height: 600px;
  margin: 0 auto;
  object-fit: contain;
  margin: 20px 0;
  height: 100%;
  width: 100%;
}

.map-wrapper {
  width: 100%;
  min-height: 400px;
  padding-top: var(--map-height);
  position: relative;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  background-color: var(--table-bg);
  overflow: hidden;
}

.table {
  border-radius: var(--border-radius);
  background-color: var(--table-bg);
  padding: var(--table-padding);
  border: var(--table-border);
  width: 100%;
  margin-bottom: 20px;
}

table tr {
  display: flex;
  padding: 10px 10px 10px 0;
  border-top: 1px solid transparent;
  border-bottom: var(--table-border);
}

table tr:last-child {
  border-bottom: 1px solid transparent;
}

table td {
  width: 50%;
}

.school {
  height: calc(100vh - var(--header-height));
  min-height: 400px;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.school__title {
  font-size: 60px;
  font-weight: 700;
}

.school__sub-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.school__descr {
}

.section {
  padding: 40px 0px;
}

.section-1 {
  background: var(--section-first);
  padding: 60px 0px;
}

.section-2 {
  background: var(--section-second);
  padding: 30px 0px;
}
.gallery {
}

.gallery__photo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 12px;
}

.gallery__img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}
.popup-gallery {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 12px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-gallery-swiper {
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

.popup-gallery-swiper__close {
  border: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background: none;
  width: 24px;
  height: 24px;
  font-size: 20px;
  z-index: 100;
  top: 12px;
  right: 12px;
  background: white;
}

.popup-gallery-swiper .swiper-slide {
  width: 100%;
  height: 100%;
}

.footer {
  height: var(--footer-height);
  padding: 40px 0;
  background-color: var(--footer-bg);
  color: var(--footer-color);
}

.footer a {
  color: var(--footer-color);
}

.fadeIn {
  display: flex;
  animation: fadeIn 300 ease-in forwards;
}

.fadeOut {
  display: none;
  animation: fadeOut 300 ease-out forwards;
}

@keyframes fadeIn {
  0% {
    display: flex;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    display: flex;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

.menu__btn,
#menu__toggle {
  display: none;
}

@media (max-width: 800px) {
  #menu__toggle {
    opacity: 0;
  }
  .hamburger-menu {
    display: flex;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center; /* центрируем содержимое кнопки */
    width: 26px;
    height: 26px;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  .menu__box {
    display: flex;
    flex-direction: column;
    gap: var(--nav-menu-gap);
    font-size: var(--nav-menu-font-size);
    justify-content: center;
    align-items: center;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 12px;
    background-color: var(--header-bg);
    color: var(--header-color);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }

  #menu__toggle:checked ~ .menu__btn {
    position: fixed;
    top: var(--header-height / 2);
    right: 12px;
    transform: translateY(-50%);
    z-index: 5;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    z-index: 1;
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
}

.certificates {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.certificates img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
